body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
.topo{
    background-color: #EC362D;
    position: fixed;
    width: 100%;
    height: 69px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    font-weight: 700;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.meus-quizzes{
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
    margin: 100px auto 0 auto;
}
.cabecalho{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.cabecalho ion-icon{
    font-size: 31px;
    color: #EC362D;
    margin-left: 10px;
}
.nenhum-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 12px;
}
.nenhum-quizz span{
    width: 250px;
    height: 107px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #b9b9b9;
    line-height: 23px;
}
.nenhum-quizz button {
    width: 186px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background-color: inherit;
    color: #EC362D;
    font-size: 21px;
}
.todos-quizzes{
    width: 1051px;
    font-size: 20px;
    margin: 77px auto;
}
.todos-quizzes span {
    margin-bottom: 10px;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    margin-top: 12px;
}
li:nth-child(3n-1){
    margin: 12px 15px 0 15px;
}
.degrade{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    
}
li span{
    color: #ffffff;
    font-size: 19px;
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 301px;
    line-height: 22px;
    
}
li img{
    border-radius: 5px;
}
.pagina-quizz-aberto{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    top: 69px;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:scroll;
}
.cabecalho-quizz {
    height: 227px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    color: #fff;
    line-height: 46px;
    flex-shrink: 0;
    
}
.pergunta{
    width: 760px;
    height: 676px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 42px;
    padding: 28px 35px;
    margin-bottom: 70px;
}
.titulo-pergunta{
    width: 690px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
    text-align: center;
}
.caixa-respostas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resposta{
    width: 330px;
    height: 217px;
    margin-top: 19px;
    background: blue;
}

.informacoes-basicas,
.criar-perguntas,
.definir-niveis,
.finalizar-criacao{
    position: fixed;
    z-index: 2;
    margin: 140px auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: scroll;
}
.novo-quiz{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding-top: 21px;
    padding-bottom: 24px;
}
.informacoes-basicas span,
.criar-perguntas span,
.definir-niveis span,
.finalizar-criacao span{
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 48px;
}
.informacoes-basicas input,
.perguntas input,
.niveis input{
    width: 564px;
    height: 46px;
    margin-bottom: 9px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    padding-left: 23px;
}
.informacoes-basicas input::placeholder,
.perguntas input::placeholder,
.niveis input::placeholder{
    font-style: italic;
    font-size: 19px;
}
.informacoes-basicas input:focus,
.perguntas input:focus,
.niveis input:focus{
    outline: 0;
    color: #000;
}
.informacoes-basicas button,
.criar-perguntas button,
.definir-niveis button,
.botao-acesso{
    margin-top: 81px;
    width: 368px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-size: 21px;
    color: #ffffff;
}
.perguntas{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-bottom: 24px;
}
.numero-pergunta{
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numero-pergunta h1{
    margin: 27px 0 12px 0;
    font-size: 20px;
    font-weight: 700;
}
.perguntas h2{
    font-size: 20px;
    font-weight: 700;
    margin: 27px 0 12px 20px;
    align-self: flex-start;
}
.perguntas ion-icon,
.niveis ion-icon{
    font-size: 26px;
}
.resposta-incorreta{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}
.niveis{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-bottom: 24px;
    padding-bottom: 28px;
}
.finalizar-criacao div{
    width: 500px;
    height: 266px;
    border-radius: 5px;
    border: 2px solid blueviolet;
}
.botao-home{
    color: #818181;
    font-size: 21px;
    width: 368px;
    height: 54px;
    border: none;
    background-color: #fff;
    margin-top: 9px;
}




.escondido{
    display: none;
}
@media(max-width:1100px){
  .meus-quizzes{
      width: calc(100% - 34px);
  }
  .todos-quizzes{
      width:calc(100% - 34px);
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  ul{
      justify-content: center;
  }
  li{
      width: 340px;
      margin-left: 15px;
  }  
}
@media(max-width:750px){
.todos-quizzes span{
    width: 340px;
}
}

@media(max-width:340px){
    li{
        width: calc(100% - 34px);
        
    }  
    .todos-quizzes span{
        width: calc(100% - 34px);
    }
}